<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" >
    <meta charset="UTF-8">
    <title>학교 상품 목록</title>
</head>
<body>
<!--<div class="container">-->
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th>장바구니</th>
                <th>주문</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${somsomItems}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:text="${item.title}" th:href="@{/somsom/item/somsomDetail/{item_id}(item_id=${item.id})}"></a>
                </td>
<!--                <td th:text="${item.title}"></td>-->
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/cart/addItemToCart(workingItemId=${item.id})}">장바구니 추가</a>
                </td>
                <td>
                    <a href="#" th:href="@{/order/{itemId} (itemId=${item.id})}">주문</a>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td>-->
<!--                    <a href="#" th:href="@{/templates/order}" class="btn btn-primary" role="button">주문</a>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
