<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이템 상세내역</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div>
    <img th:src="@{${somsomItem.imgPath}}"/>
    <h2><span th:text="${somsomItem.title}"></span></h2><br>
    <span th:text="${somsomItem.price}"></span>원<br><br><br>
    <textarea th:value="${somsomItem.description}" th:text="${somsomItem.description}"
              rows="30" cols="100" style="border: none;" readonly></textarea><br>

    <!--<label for="quantity">구매 수량:</label>-->
    <!--<input type="number" th:value = "${quantity}" name="quantity" min="1" value="1"><br>-->


    <!--<label for="option">옵션:</label>-->
    <!--<select id="option" name="option">-->
    <!--    <option value="option1">옵션 1</option>-->
    <!--    <option value="option2">옵션 2</option>-->
    <!--    <option value="option3">옵션 3</option>-->
    <!--        &lt;!&ndash; 필요한 만큼 옵션을 추가할 수 있습니다 &ndash;&gt;-->
    <!--</select><br><br>-->

    <a class="btn btn-lg btn-secondary" href="#" th:href="@{/order/{itemId} (itemId=${somsomItem.id})}">구매하기</a>
    <a class="btn btn-lg btn-secondary" href="#" th:href="@{/cart/addItemToCart(workingItemId=${somsomItem.id})}">장바구니 추가</a>

</div>


<script>
    function purchase() {
        var quantity = document.getElementById("quantity").value;
        var option = document.getElementById("option").value;
        // 여기에서 구매 처리 로직을 작성하세요
        // 구매 수량(quantity)과 옵션(option)을 사용하여 처리할 수 있습니다.
    }
</script>

</body>
</html>
