<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" th:action="@{/order/{itemId}/{count} (itemId=${item.id}, count=${count})}" method="post">

<!--        <div>-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>#</th>-->
<!--                    <th>상품명</th>-->
<!--                    <th>가격</th>-->
<!--                    <th>수량</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td th:name="itemId" th:value="${item.id}" th:text="${item.id}"></td>-->
<!--                    <td th:text="${item.title}"></td>-->
<!--                    <td th:text="${item.price}"></td>-->
<!--                    <td>-->
<!--                        <input type="number" name="count" class="form-control" id="count" placeholder="주문 수량을 입력하세요">-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div><br><br>-->

        <div class="form-group">
            <label for="item">상품 아이디</label>
            <p name="itemId" id="item" th:value="${item.id}" th:text="${item.id}"></p><br>
            <label for="itemTitle">상품명</label>
            <p name="itemTitle" id="itemTitle" th:value="${item.title}" th:text="${item.title}"></p>
        </div>

        <div class="form-group">
            <label for="count">주문수량</label>
            <input type="number" name="count" class="form-control" id="count" th:value="${count}">
        </div>

        <div class="form-group">
            <label for="account">주문자 아이디</label>
            <input type="text" name="accountId" id="account" class="form-control" th:value="${account.id}" readonly><br>
            <label for="name">주문자 이름</label>
            <input type="text" id="name" class="form-control" th:value="${account.name}"><br>
            <label for="phone">주문자 연락처</label>
            <input type="text" id="phone" name="phone" class="form-control" th:value="${account.phone}"><br>
            <label for="address">주소</label>
            <input type="text" id="address" name="address" class="form-control"  th:value="${account.address}"><br>
            <label for="zipcode">우편번호</label>
            <input type="text" id="zipcode" name="name" class="form-control" th:value="${account.zipcode}"><br>
        </div>

        <button type="submit" class="btn btn-primary">결제</button>
<!--        <a href="#" th:href="@{/order/{itemId}/{count} (itemId=${item.id}, count=${count})}">주문</a>-->
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
