<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>쪽지 보내기</title>
</head>
<style>
    .content {
        width: 90%;
        padding: 20px;
    }

    .regBtn {
        border: 1px solid;
		border-radius: 8px;
		background-color: #AB2948;
		color: white;
		font-weight: bold;
		width: 300px;
		height: 70px;
		font-size: 35px;
    }
</style>
<body onload="startPage();">

<script>
    function onSubmit() {
        var title = $('#title').val();
        var content = $('#content').val();

        if (title == '' && content == '') {
            alert('제목과 내용을 입력해주세요.');
        } else if (title == '') {
            alert('제목을 입력해주세요.');
        } else if (content == '') {
            alert('내용을 입력해주세요.');
        } else {
            $("#frm").submit();
        }
    }
</script>
<script th:inline="javascript">
    var error = /*[[${error}]]*/;
    function startPage() {
        if (error == 'true') {
            alert('쪽지 보내기에 실패하였습니다. 다시 시도해주세요.');
        }
    }
  </script>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div class="content">
<h2>쪽지 보내기</h2>

<a th:href="@{/personal/detail/{itemId}(itemId=${item.id})}">
    <h2><span th:text="${item.title}"></span></h2></a>
<hr>

<form role="form" th:action="@{/personal/chat/send}" id="frm" method="post">
    <input type="hidden" id="itemId" th:name="itemId" th:value="${item.id}"/>

    <div class="form-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요">
    </div>
    <br>

    <div class="form-group">
        <textarea id="content" name="content" rows="15" cols="30" placeholder="내용을 입력해주세요"></textarea>
    </div>
    <br>

    <input type="button" class="regBtn" onClick="onSubmit()" value="보내기">
</form>
</div>
</body>
</html>