<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>개인 거래 게시글 등록</title>
</head>
<body>
<div th:insert="~{header}"></div>

<form role="form" id="frm" th:object="${personalItem}" method="post">

  <div class="form-group">
    <label th:for="title">제목</label>
    <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요">
    <!--<p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>-->
  </div>
  <br>

  <div class="form-group">
    <label th:for="status">상태</label>
    <select th:field="*{status}" class="form-select">
      <option th:each="statusString : ${statusString}" th:value="${statusString}"
              th:text="${statusString}">거래가능</option>
    </select>

  </div>
  <br>

  <div class="form-group">
    <label th:for="price">가격</label>
    <input type="text" th:field="*{price}" class="form-control" placeholder="가격을 입력해주세요">

  </div>
  <br>

  <div class="form-group">
    <label th:for="description">내용</label>
    <textarea th:field="*{description}" rows="15" cols="30" placeholder="내용을 입력해주세요"/>

  </div>
  <br>

  <script th:inline="javascript">
    var register = /*[[ @{/personal/register} ]]*/;
    $("#register").on("click", function(){
      $("#frm").attr("action", register);
    });
    var update = /*[[ @{/user/myPage/sell/personal/update} ]]*/;
    $("#update").on("click", function(){
      $("#frm").attr("action", update);
    });
  </script>

  <div th:if="${personalItem.itemId} &gt; 0">
    <input type="submit" id="update" class="btn" onClick="" value="게시글 등록">
  </div>
  <div th:if="${personalItem.itemId} &lt; 1">
    <input type="submit" id="register" class="btn" onClick="" value="게시글 등록">
  </div>

</form>

</body>
</html>