<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><img th:src="@{/images/somsom.png}" width="150" height="150"/></a>
<!--    <h3 class="text-muted">솜솜마켓</h3>-->

    <div th:unless="${userSession?.account}">
        <a th:href="@{/user/register}">
            <input type="button" value="회원가입"></a>
        <a th:href="@{/user/loginForm}">
            <input type="button" value="로그인"></a>
    </div>
    <div th:if="${userSession?.account}">
        <a><span th:text="${userSession?.account.nickName}"></span>님, 환영합니다!</a>
        <a th:href="@{/user/logout}">
            <input type="button" value="로그아웃"></a>
        <a th:href="@{/user/myPage}">
            <input type="button" value="마이페이지"></a>

        <a th:href="@{/somsom/cart}">장바구니</a>
    </div>


    <a th:href="@{/personal/list}">장터</a> &nbsp;&nbsp;
    <a th:href="@{/personal/chat/list}">쪽지함</a>
    <a th:href="@{/group/list}">공동구매</a>
</div>
