<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>솜솜마켓</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<!--<div class="container">-->
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>솜솜마켓</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user/register">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/user/loginForm">로그인</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/somsom/item/somsomItemRegister">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/somsom/item/somsomItemList">상품 목록</a>
        </p>
        <p class="lead">공동구매 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/group/register">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/group/list">상품 목록</a><!--모든 공구아이템-->
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
