<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>개인 거래 상세페이지</title>
</head>
<style>
.add { display: block; }
.cancel { display: none;	}
</style>
<body onload="startPage();">
<script>
    function addHeart() {
        $.ajax({
			type : "POST",
			url : "/user/myPage/wishlist/add",
			data : {
				"itemId" : $('#itemId').val(),
				"sellerId" : $('#sellerId').val()
			},
			success : function(data) {
				if (data == true) {
                    $('.add').hide();

          	        $('.cancel').show();

                    wishlistCount += 1;
          	        $('#wishCount').text(wishlistCount);
				} else {
				    alert('로그인이 되어 있지 않거나 본인의 게시글에는 찜할 수 없습니다.');
				}
			}
		})
    }

    function cancelHeart() {
        $.ajax({
			type : "POST",
			url : "/user/myPage/wishlist/delete",
			data : {
				"itemId" : $('#itemId').val()
			},
			success : function(data) {
				if (data == true) {
                    $('.cancel').hide();

          	        $('.add').show();

          	        wishlistCount -= 1;
          	        $('#wishCount').text(wishlistCount);
				}
			}
		})
    }
</script>
<script th:inline="javascript">
/*<![CDATA[*/
    var wishlistCount = /*[[${personalItem.wishCount}]]*/;

    function startPage() {
        var isExistWishlist = /*[[${isExistWish}]]*/;
        if (isExistWishlist == 0) {
            $('.cancel').hide();
            $('.add').show();
        } else {
            $('.add').hide();
            $('.cancel').show();
        }
    }
/*]]>*/
</script>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<input type="hidden" id="itemId" th:name="itemId" th:value="${personalItem.id}"/>
<input type="hidden" id="sellerId" th:name="sellerId" th:value="${personalItem.sellerId}"/>

<img th:src="@{${personalItem.imgPath}}"/>
<h2><span th:text="${personalItem.title}"></span></h2><br>
<span th:text="${personalItem.price}"></span>원<br>
<textarea th:value="${personalItem.description}" th:text="${personalItem.description}"></textarea><br>
<!--<span th:text="${personalItem.status}"></span><br>-->
<div th:if="${personalItem.sellerId} != 'unregister'">
    <div th:switch="${personalItem.getStatus().toString()}">
        <p th:case="INSTOCK">거래가능</p>
        <p th:case="ING">거래중</p>
        <p th:case="SOLDOUT">거래완료</p>
    </div>
</div>
<div th:if="${personalItem.sellerId} == 'unregister'">
    <p>거래불가</p>
</div>

<span th:text="${personalItem.nickName}"></span><br>
담은 인원 : <span id="wishCount" th:text="${personalItem.wishCount}"></span>

<div th:if="${userSession?.account}">
    <div th:if="${userSession.account.id} == ${personalItem.sellerId}">
        <a th:href="@{/user/myPage/sell/personal/update(itemId=${personalItem.id})}">
            <input type="button" value="수정"></a>
        <a th:href="@{/user/myPage/sell/personal/delete(itemId=${personalItem.id})}">
            <input type="button" value="삭제"></a>
    </div>
</div>

<div th:if="${personalItem.sellerId} != 'unregister'">
    <div class="add" id="add">
        <img th:src="@{/images/hearts.png}" th:onclick="addHeart()" />
    </div>
    <div class="cancel" id="cancel">
        <img th:src="@{/images/heartFill.png}" th:onclick="cancelHeart()" />
    </div>
</div>



</body>
</html>