<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>개인 거래 상세페이지</title>
</head>
<style>
.add { display: block; }
.cancel { display: none;	}
</style>
<body onload="startPage();">
<script>
var frm = document.frmSubmit;

    function addHeart() {
        if (userId == sellerId) {
            alert('본인의 게시글에는 찜할 수 없습니다.');
            return;
        }
        $.ajax({
			type : "POST",
			url : "/user/myPage/wishlist/add",
			data : {
				"itemId" : $('#itemId').val(),
				"sellerId" : $('#sellerId').val()
			},
			success : function(data) {
				if (data == true) {
                    $('.add').hide();

          	        $('.cancel').show();

                    wishlistCount += 1;
          	        $('#wishCount').text(wishlistCount);
				} else {
				    alert('로그인 후 이용해주세요.');
				}
			}
		})
    }

    function cancelHeart() {
        $.ajax({
			type : "POST",
			url : "/user/myPage/wishlist/delete",
			data : {
				"itemId" : $('#itemId').val()
			},
			success : function(data) {
				if (data == true) {
                    $('.cancel').hide();

          	        $('.add').show();

          	        wishlistCount -= 1;
          	        $('#wishCount').text(wishlistCount);
				}
			}
		})
    }
</script>
<script th:inline="javascript">
/*<![CDATA[*/
    var wishlistCount = /*[[${personalItem.wishCount}]]*/;
    var userId = /*[[${userId}]]*/;
    var sellerId = /*[[${personalItem.sellerId}]]*/;

    function startPage() {
        var isExistWishlist = /*[[${isExistWish}]]*/;
        if (isExistWishlist == 0) {
            $('.cancel').hide();
            $('.add').show();
        } else {
            $('.add').hide();
            $('.cancel').show();
        }
    }

    function goInquires() {
        if (userId == sellerId) {
            alert('자신의 글에는 쪽지를 보낼 수 없습니다.');
            return;
        }
        $("#frm").submit();
    }

    function deleteAlert() {
		if(confirm("정말로 삭제하시겠습니까?")){
            var itemId = $("#itemId").val();
            // /user/myPage/sell/personal/delete(itemId=${personalItem.id})
            $("#delFrm").attr("action", "/user/myPage/sell/personal/delete?itemId=" + itemId);
            $("#delFrm").submit();
		}
	}
/*]]>*/
</script>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<input type="hidden" id="itemId" th:name="itemId" th:value="${personalItem.id}"/>
<input type="hidden" id="sellerId" th:name="sellerId" th:value="${personalItem.sellerId}"/>

<img th:src="@{${personalItem.imgPath}}"/>
<h2><span th:text="${personalItem.title}"></span></h2><br>
<span th:text="${personalItem.price}"></span>원<br><br><br>
<!--<textarea th:value="${personalItem.description}" th:text="${personalItem.description}"-->
<!--          rows="30" cols="100" style="border: none;" readonly></textarea><br>-->
<pre th:utext="${personalItem.description}"></pre>
<!--<span th:text="${personalItem.status}"></span><br>-->
<div th:if="${personalItem.sellerId} != 'unregister'">
    <div th:switch="${personalItem.getStatus().toString()}">
        <p th:case="INSTOCK">거래가능</p>
        <p th:case="ING">거래중</p>
        <p th:case="SOLDOUT">거래완료</p>
    </div>
</div>
<div th:if="${personalItem.sellerId} == 'unregister'">
    <p>거래불가</p>
</div>

<span th:text="${personalItem.nickName}"></span><br>
담은 인원 : <span id="wishCount" th:text="${personalItem.wishCount}"></span>

<div th:if="${userSession?.account}">
    <div th:if="${userSession.account.id} == ${personalItem.sellerId}">
        <a th:href="@{/user/myPage/sell/personal/update(itemId=${personalItem.id})}" style="display: inline-block;">
            <input type="button" value="수정" style="white-space: nowrap"></a>
        <form id="delFrm" name="delFrm" method="post" style="display: inline-block;">
            <input type="button" onClick="deleteAlert()" value="삭제" style="white-space: nowrap">
        </form>
    </div>
</div>

<div th:if="${personalItem.sellerId} != 'unregister'">
    <div class="add" id="add">
        <img th:src="@{/images/hearts.png}" th:onclick="addHeart()" />
    </div>
    <div class="cancel" id="cancel">
        <img th:src="@{/images/heartFill.png}" th:onclick="cancelHeart()" />
    </div>

    <form id="frm" th:action="@{/personal/chat/send}" method="get">
        <input type="hidden" id="itemId2" th:name="itemId2" th:value="${personalItem.id}"/>
        <input type="button" onClick="goInquires()" value="구매 문의하기"></a>
    </form>
</div>


</body>
</html>