<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>구매 내역</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<h2>구매 내역</h2>

<table>
  <tr th:each="item : ${userOrderList}">
    <td>
      <a th:each="orderItem : item.orderItems"
         th:href="@{/personal/detail/{itemId}(itemId = ${orderItem.item.id})}">
        <span th:text="${orderItem.item.title}"></span>
      </a>
      <span th:text="${item.name}"></span>
      <span th:text="${item.phone}"></span>
      <span th:text="${item.address}"></span>
      <span th:text="${item.zipcode}"></span>
      <span th:text="${item.totalPrice}"></span>
    </td>
  </tr>
</table>
</body>
</html>