<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>개인 판매 내역</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<h2>판매 내역</h2>

<table>
  <tr th:each="item : ${userPersonalSellList}">
    <td>
        <a th:href="@{/personal/detail/{itemId}(itemId = ${item.id})}">
            <span th:text="${item.title}"></span>
        </a>
      <span th:text="${item.price}"></span>
    </td>
  </tr>
</table>

</body>
</html>