<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
</head>
<style>
    .regBtn {
        border: 1px solid;
		border-radius: 5px;
		background-color: #AB2948;
		color: white;
		font-weight: bold;
		width: 300px;
		height: 70px;
		font-size: 35px;
    }
</style>
<body onload="startPage();">
<script th:inline="javascript">
/*<![CDATA[*/
    function startPage() {
        var errorString = /*[[${error}]]*/;
        if (errorString == true) {
            alert('회원 탈퇴할 수 없습니다.');
        }
    }
/*]]>*/
</script>

<div th:replace="fragments/bodyHeader :: bodyHeader" />

<form th:action="@{/user/myPage/update/pwCheck}" method="post">
  <div>
    <input type="password" name="password" placeholder="비밀번호">
  </div>
  <br>
  <div>
    <input type="submit" class="regBtn" value="확인">
  </div>
  <br>
</form>
</body>
</html>