<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>위시리스트 내역</title>

</head>
<style>
  .personal { display: block; }
  .group { display: none;	}
</style>

<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // select 선택에 맞게 보여지는 div 변화
    $(document).ready(function() {
      $('#selectBox').change(function() {
        var result = $("select[name=selectBox]").val();

        if (result == 'personal') {
          $('.group').hide();
          $('.personal').show();
        } else {
          $('.personal').hide();
          $('.group').show();
        }
      });
    });
</script>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<h2>위시리스트</h2>

<select id="selectBox" name="selectBox">
  <option value="personal" selected="selected">개인간거래</option>
  <option value="group">공동구매</option>
</select><br><br>

<div class="personal" id="personal">
  <table>
    <tr th:each="item : ${userWishlistPersonalItem}">
      <td>
        <a th:href="@{/personal/detail/{itemId}(itemId = ${item.id})}">
          <span th:text="${item.title}"></span>
        </a>
        <span th:text="${item.price}"></span>
      </td>
    </tr>
  </table>
</div>

<div class="group" id="group">
  <table>
    <tr th:each="item : ${userWishlistGroupItem}">
      <td>
        <a th:href="@{/personal/detail/{itemId}(itemId = ${item.id})}">
          <span th:text="${item.title}"></span>
        </a>
        <span th:text="${item.price}"></span>
      </td>
    </tr>
  </table>
</div>
</body>
</html>